<audio autoplay loop>
    <source src="/assets/finalMarch.mp3" type="audio/mpeg">
</audio>
<canvas id="canvasTest" width="1280" height="600"></canvas>

<div id="overlapping">
    <canvas id="canvasEntities2" width="1280" height="600"></canvas>
    <canvas id="canvasDead" width="1280" height="600">EJE</canvas>
    <canvas id="canvasScore" width="1280" height = "600"></canvas>
    <canvas id="canvasSeconds" width="1280" height = "600"></canvas>
</div>
