<br>
<br>
<br>
<br>
<div class="jumbotron">
  <h1>Bienvenido al Vacileo!</h1>
  <p>¿Qué es Vacileo? Es una plataforma de juegos en el navegador! ¿Qué es diferente de otras plataformas? En Vacileo, puedes guardar tus partidas, y reanudar luego si así lo deseas. También, puedes comparar tus puntuaciones con la de otros usuarios. Disfruta!</p>
  
  <%=link_to "Registrarse", new_user_registration_path, :class => 'btn btn-primary' %>
  
  <%=link_to "Iniciar Sesión", new_user_session_path, :class => 'btn btn-primary' %>
  
</div>


<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/assets/ultimabatalla.png" alt="...">
      <div class="caption">
        <h3>La última batalla</h3>
        <p>Eres el último que queda de una gran civilización derrotada. Has logrado entrencharte y estás listo para dar tu último combate. Las hordas
        	de zombis no paran de llegar, y ya has internalizado que morirás. Pero, antes de acompañar a tu pueblo en el más allá, has resuelto llevarte a la mayor cantidad
        	posible de tus enemigos!</p>
        <p><%=link_to "Jugar", game_path(1), class: "btn btn-primary", role: "button"%></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDI0MiAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MjAwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTUxOTc5MzBmZTkgdGV4dCB7IGZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMnB0IH0gXV0+PC9zdHlsZT48L2RlZnM+PGcgaWQ9ImhvbGRlcl8xNTE5NzkzMGZlOSI+PHJlY3Qgd2lkdGg9IjI0MiIgaGVpZ2h0PSIyMDAiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSI4OS44NTkzNzUiIHk9IjEwNS4xIj4yNDJ4MjAwPC90ZXh0PjwvZz48L2c+PC9zdmc+" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        <p><%=link_to "Jugar", game_path(1), class: "btn btn-primary", role: "button"%></p>
      </div>
    </div>
  </div>
</div>

	

</div>