<br>
<br>
<br>
<br>
<div class="jumbotron">
  <h1>Bienvenido al Vacileo!</h1>
  <p>¿Qué es Vacileo? Es una plataforma de juegos en el navegador! ¿Qué es diferente de otras plataformas? En Vacileo, puedes guardar tus partidas, y reanudar luego si así lo deseas. También, puedes comparar tus puntuaciones con la de otros usuarios. Disfruta!</p>
  
  <%=link_to "Registrarse", new_user_registration_path, :class => 'btn btn-primary' %>
  
  <%=link_to "Iniciar Sesión", new_user_session_path, :class => 'btn btn-primary' %>
  
</div>


<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/assets/ultimabatalla.png" alt="...">
      <div class="caption">
        <h3>La última batalla</h3>
        <p>Eres el último que queda de una gran civilización derrotada. Has logrado entrencharte y estás listo para dar tu último combate. Las hordas
        	de zombis no paran de llegar, y ya has internalizado que morirás. Pero, antes de acompañar a tu pueblo en el más allá, has resuelto llevarte a la mayor cantidad
        	posible de tus enemigos!</p>
        <p><%=link_to "Jugar", game_path(1), class: "btn btn-primary", role: "button"%></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="optionimage" src="/assets/test.png" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        <p><%=link_to "Jugar", game_path(2), class: "btn btn-primary", role: "button"%></p>
      </div>
    </div>
  </div>
</div>
