<!-- la última batalla sin usuario conectado -->
<audio autoplay loop>
    <source src="/assets/finalMarch.mp3" type="audio/mpeg">
</audio>
<canvas id="canvasTest" width="1280" height="600"></canvas>

<div id="overlapping">
    <canvas id="canvasEntities2" width="1280" height="600"></canvas>
    <canvas id="canvasDead" width="1280" height="600">EJE</canvas>
    <canvas id="canvasScore" width="1280" height = "600"></canvas>
    <canvas id="canvasSeconds" width="1280" height = "600"></canvas>
</div>

<script src="/assets/game1.js"></script>

<div class="panel panel-default">
  <div class="panel-heading">Mejores Puntuaciones</div>
  <table class="table">
  	<thead>
  		<tr>
  			<th> #</th>
  			<th> Usuario </th>
  			<th> Puntuación </th>
  		</tr>
  	</thead>
  	<tbody>
  	<% @leaderboard.each_with_index do |l , index| %>
  		<tr>
  			<th scope="row"><%=index%></th>
  			<td> <%= l["email"] %> </td>
  			<td> <%= l["score"] %> </td>
  		</tr>
  	<%end%>
  	</tbody>
  </table>
</div>

