<canvas id="canvasBg" width="800" height="600"></canvas>

<div id="overlapping">
    <canvas id="canvasEntities" width="800" height="600"></canvas>
</div>
<script src="/assets/game2.js"></script>

<% @leaderboard.each do |l| %>
	<p> <%= l.score %> </p>
<%end%>
