body {
    background: url("/assets/bg-game.jpg") !important;

}

canvas {
    display: block;
}
#main-title{
	margin-left:35%;
	margin-right:30%;
	position:absolute;
	font-family: 'Anton', sans-serif;
	color:yellow;
}

#games{
	margin-left:5%;
	margin-right:5%;
}

#games h2{
	color:white;
	display:block;
	margin-left: 45%;
	margin-right:40%;
}

#saved{
	background: url("/assets/bg-saved.jpg") !important;
	position:relative;
	margin-right:5%;
	margin-left:5%;
	padding-bottom:5%;
	min-height:200px;
	height:100%;
}

#saved h2{
	color:white;
	display:block;
	margin-left: 35%;
	margin-right: 35%;
}
.saved-games{
	margin:5px;
	margin-left: 5%;
	background:white;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}

.jumbotron{
	padding-left:15px !important;
	padding-right:15px !important;
	background: #72587F !important;
	font-family: 'Anton', sans-serif;
}

.jumbotron p{
	color:white;
}

.jumbotron h1{
	color:white !important;
}

#logo{
	width:100px;
	height:63px;
	position:absolute;
	margin-right:30%;
	margin-left:35%;
}

#partidas{
	display:inline-block;
}

.recentlyplayed{
	height:50%;
	width:50%;
}

.optionimage{
	height:209px !important;
	width:449px !important;
}


#canvasBg {
    background: #ffffff;
}


#overlapping canvas {
    margin: -600px 0 0;
}

.overlay{
	position:absolute; 
	z-index:1;
	margin-top:-150px;
	margin-left:150px;
	margin-right:150px;
}

.navbar-default{
	background: url("/assets/nav-bg.jpg") !important;
	height:66px !important;
}

canvas{
	margin-left:50px;
	margin-top:20px;
}

